<div class="container heading">
  <div class="text-container">
    <div>
      <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1554382141/QI_logo.png" alt="" class="logo margin-logo">
      <p class="text">A specialist property fund for high net worth individuals who with to invest in the UK holiday lettings market</p>
      <a href="mailto:sarah@quinceinvestments.co.uk" class="email-button">Contact Us</a>
    </div>
  </div>
</div>
